<div id="<%= dom_id peca %>">
  <p>
    <strong>Titulo:</strong>
    <%= peca.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= peca.descricao %>
  </p>

  <p>
    <strong>Classificacao:</strong>
    <%= peca.classificacao %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= peca.duracao %>
  </p>

</div>
