<%= form_with(model: area) do |form| %>
  <% if area.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :preco, style: "display: block" %>
    <%= form.text_field :preco %>
  </div>

  <div>
    <%= form.label :quantidade_poltronas, style: "display: block" %>
    <%= form.number_field :quantidade_poltronas %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const areaSelect = document.getElementById("area_select");

    areaSelect.addEventListener("change", function() {
      fetch(`/areas/${areaSelect.value}/poltronas_disponiveis`)
        .then(response => response.json())
        .then(data => {
          // Handle the response data
        })
        .catch(error => {
          console.error("Error fetching poltronas disponiveis:", error);
        });
    });
  });
</script>
