<%= form_with(model: ingresso) do |form| %>
  <% if ingresso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingresso.errors.count, "error") %> prohibited this ingresso from being saved:</h2>

      <ul>
        <% ingresso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :usuario_id, style: "display: block" %>
    <%= form.text_field :usuario_id %>
  </div>

  <div>
    <%= form.label :sessao_id, style: "display: block" %>
    <%= form.text_field :sessao_id %>
  </div>

  <div>
    <%= form.label :poltrona_id, style: "display: block" %>
    <%= form.text_field :poltrona_id %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
