<div id="<%= dom_id ingresso %>">
  <p>
    <strong>Usuario:</strong>
    <%= ingresso.usuario_id %>
  </p>

  <p>
    <strong>Sessao:</strong>
    <%= ingresso.sessao_id %>
  </p>

  <p>
    <strong>Poltrona:</strong>
    <%= ingresso.poltrona_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= ingresso.valor %>
  </p>

</div>
